<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Hacker News RSS</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="/favicon.ico">
    <style type="text/css">
        .fa-rss, a.fa-rss {
            color: #f60;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="page-header">
        <h1>Hacker News RSS</h1>
    </div>

    <ul>
        <li><a href="/newstories.xml"><i class="fa fa-rss"></i> New Links</a></li>
    </ul>
</div>
</body>
</html>
